<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style>
        p {
            font-size: 20px
        }
        h1{
            font-size:60px
        }
        h3{
            font-size:50px
        }
        h5{
            font-size:40px
        }
    </style>
</head>
<body>
    <h1>Readme</h1> <br /><br />
    <hr />

    <h3 style="margin-left:40%">Person İçin</h3><br />

    <h5>Get İşlemleri</h5><hr /><hr />
    &nbsp;
    <p><b>Active olan bütün Person ları get etmek için =></b> https://{hostname}/api/People</p>
    <p><b>Passive de dahil bütün Person ları get etmek için =></b> https://{hostname}/api/People/all</p>
    <p><b>İstenen Id ye sahip Person u get etmek için =></b> https://{hostname}/api/People/{id}</p>
    <hr />
    <br />

    <h5>Post İşlemi</h5><hr /><hr />
    &nbsp;
    <p><b>Post etmek için =></b> https://{hostname}/api/People</p>
    <hr />
    <br />

    <h5>Put İşlemi</h5><hr /><hr />
    &nbsp;
    <p><b>Put etmek için =></b> https://{hostname}/api/People/{id}</p>
    <hr />
    <br />

    <h5>Delete İşlemi</h5><hr /><hr />
    &nbsp;
    <p><b>Delete etmek için =></b> https://{hostname}/api/People/{id}</p>
    <hr />
    <br />

    <h3 style="margin-left:40%">Project İçin</h3>

    <h5>Get İşlemleri</h5><hr /><hr />
    &nbsp;
    <p><b>Active olan bütün Project leri get etmek için =></b> https://{hostname}/api/Projects</p>
    <p><b>Passive de dahil bütün Project leri get etmek için =></b> https://{hostname}/api/Projects/all</p>
    <p><b>İstenen Id ye sahip Project i get etmek için =></b> https://{hostname}/api/Projects/{id}</p>
    <hr />
    <br />

    <h5>Post İşlemi</h5><hr /><hr />
    &nbsp;
    <p><b>Post etmek için =></b> https://{hostname}/api/Projects</p>
    <hr />
    <br />

    <h5>Put İşlemi</h5><hr /><hr />
    &nbsp;
    <p><b>Put etmek için =></b> https://{hostname}/api/Projects/{id}</p>
    <hr />
    <br />

    <h5>Delete İşlemi</h5><hr /><hr />
    &nbsp;
    <p><b>Delete etmek için =></b> https://{hostname}/api/Projects/{id}</p>
    <hr />
    <br />

    <h3 style="margin-left:45%">Login</h3>

    <h5>Login İşlemi</h5><hr /><hr />
    &nbsp;
    <p>Login için url e kullanıcı adı ve şifre gönderilerek get isteğinde bulunulur.</p>
    <p><b>Url =></b> https://{hostname}/api/Login</p>
    <hr />
    <br />
</body>
</html>