<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style>
        p {
            font-size: xx-small
        }
    </style>
</head>
<body>
    <h1>Readme</h1> <br /><br />
    <hr />

    <h3 style="margin-left:40%">Person İçin</h3><br />

    <h4>Get İşlemleri</h4><hr />
    &nbsp;
    <p><b>Active olan bütün Person ları get etmek için =></b> https://{hostname}/api/People</p>
    <p><b>Passive de dahil bütün Person ları get etmek için =></b> https://{hostname}/api/People/all</p>
    <p><b>İstenen Id ye sahip Person u get etmek için =></b> https://{hostname}/api/People/{id}</p>

    <br /><br />

    <h3>Post İşlemi</h3><hr />
    &nbsp;
    <p><b>Post etmek için =></b> https://{hostname}/api/People</p>

    <br /><br />

    <h3>Put İşlemi</h3>
    <br />
    &nbsp;
    <p><b>Put etmek için =></b> https://{hostname}/api/People/{id}</p>

    <br /><br />

    <h3>Delete İşlemi</h3>
    <br />
    &nbsp;
    <p>Delete etmek için => https://{hostname}/api/People/{id}</p>

    <br /><br />



</body>
</html>